<!DOCTYPE html>
<html lang="{{ page.lang }}">

    {% include head.html %}

    <body class="layout-{{ page.layout }} {{page.layout}}-{{page.layout_type}} is-loading {{page.lang}}">
        <div id="site-menu-trigger">
            <div id="mn-bar-1" class="hamburger"></div>
            <div id="mn-bar-2" class="hamburger"></div>
            <div id="mn-bar-3" class="hamburger"></div>

            <!-- les rollovers -->
            <div id="mn-bar-4" class="cross"></div>
            <div id="mn-bar-5" class="cross"></div>
        </div>

        <div class="lang-selector">
            <ul>
                {% assign projects=site.projects | where:"ref", page.ref | sort: 'lang' %}
                {% for project in projects %}
                <li>
                    <a href="{{ project.url }}" class="{{ project.lang }}">{{ project.lang }}</a>
                </li>
                {% endfor %}

                {% if page.layout == 'home' %}
                <li>
                    <a href="{{ site.url }}/fr" class="fr">fr</a>
                </li>
                <li>
                    <a href="{{ site.url }}/en" class="en">en</a>
                </li>
                {% endif %}

                {% assign pages=site.pages | where:"ref", page.ref | sort: 'lang' %}
                {% for page in pages %}
                <li>
                    <a href="{{ page.url }}" class="{{ page.lang }}">{{ page.lang }}</a>
                </li>
                {% endfor %}
            </ul>
        </div>
        
        <a id="logo" href="{{site.url}}/{{page.lang}}">
            <div></div>
            <div></div>
        </a>
        <div id="site-menu">
            {% include menu.html %}
        </div>

        {{ content }}
        
        {% include loader.html %}
        {% include overlay.html %}
    </body>
</html>
