---
layout: default
---
{% assign projects=site.projects | where:"lang", page.lang | where:"tags", page.tag %}
<div id="mosaique">

<div class="mosaique--nav">
  <ul>
    <li><a href="/fr/work">Tout</a></li>
    <li><a href="/fr/work/ux">UX</a></li>
    <li class="active"><a href="/fr/work/viz">Carto/Dataviz</a></li>
    <li><a href="/fr/work/web">Web</a></li>
    <li><a href="/fr/work/motion">Motion</a></li>
  </ul>
</div>
  <ul>
    {% for p in projects %}
    <li class="mosaic-item {{p.fields | split: ','}}">
      <a href="{{p.permalink | relative}}" style="background-image: url({{p.project_thumbnail}});"><div class="card">	      
	  <div class="card--content">
	    <div class="card--title">{{p.title | escape}}</div>
	    <div class="card--client">{{p.client | escape}}</div>
	  </div>

	</div>	    
      </a>
    </li>
    {% endfor %}
  </ul>
</div>