---
layout: default
---
<article class="project h-entry" itemscope itemtype="http://schema.org/BlogPosting">
    <div class="container page-header" aria-label="Header">
        <div class="row">
            <div class="col-lg-8 offset-lg-2">
                <header class="container-fluid project-info">
                    <div class="row">
                        <div class="col-md">
                            <div class="meta-title">Projet</div>
                            <div class="meta-value">{{ page.title }}</div>
                        </div>
                        <div class="col-md">
                            <div class="meta-title">Client</div>
                            <div class="meta-value">{{ page.client }}</div>
                        </div>
                        <div class="col-md">
                            <div class="meta-title">Année</div>
                            <div class="meta-value">{{ page.release }}</div>
                        </div>
                    </div>
                </header>
            </div>
        </div>
    </div>

    <div class="container page-content" aria-label="Content">
        <div class="row">
            <div class="col-lg-8 offset-lg-2">
                <div class="e-content" itemprop="articleBody">
                    {{ content }}
                </div>
	              <div class="back-work">
	                  <a type="button" class="btn btn-outline-primary" href="{{ site.url}}/{{ page.lang }}/work"><i class="ico ico-medium">grid</i>Retour aux projets</a>
	              </div>
                <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
            </div>
        </div>
    </div>
</article>
