---
layout: default
---


<article class="project h-entry" itemscope itemtype="http://schema.org/BlogPosting">

    {% if page.cover %}
    <div class="page-cover">
      <div class="page-cover-image" style="background-image: url({{ page.cover }});"></div>
    </div>
    {% else %}
    <div class="page-cover no-image">
    </div>
    {% endif %}



    <div class="container page-header {% if page.cover %}cover{% else %}no-cover{% endif %}" aria-label="Header">
      <div class="row">
        <div class="col-lg-8 offset-lg-2">
          <header>
            <h1 class="page-title p-name" itemprop="name headline">{{ page.title | escape }}</h1>
          </header>
        </div>
      </div>
    </div>

    <div class="container page-content" aria-label="Content">
      <div class="row">
        <div class="col-lg-8 offset-lg-2">
          <div class="e-content" itemprop="articleBody">
            {{ content }}
          </div>

          {% if site.disqus.shortname %} {% include disqus_comments.html %} {% endif %}

          <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
        </div>
      </div>
    </div>
</article>
