---
layout: default
---
<article class="project h-entry" itemscope itemtype="http://schema.org/BlogPosting">
    <div class="container page-header" aria-label="Header">
      <div class="row">
        <div class="col-lg-10 offset-lg-1">
          <header>
            <h1 class="page-title p-name" itemprop="name headline" style="color:{{ page.project_font }};">{{ page.title | escape }}</h1>
          </header>
        </div>
      </div>
    </div>

    <div class="container page-content" aria-label="Content">
      <!-- <div class="row"> -->
      <!-- 	<div class="col-md-3"> -->
      <!-- 	  <div class="filters"> -->
      <!-- 	    <select name="fields" id="fields"> -->
      <!-- 	      <option value="0">Tout</option> -->
      <!-- 	      <option value="1">UI</option> -->
      <!-- 	      <option value="2">UX</option> -->
      <!-- 	      <option value="3">Motion</option> -->
      <!-- 	      <option value="3">Illustration</option> -->
      <!-- 	    </select> -->
      <!-- 	  </div> -->
      <!-- 	</div> -->
      <!-- 	<div class="col-md-3"> -->
      <!-- 	  <div class="filters-actions"> -->
      <!-- 	    <div id="filters-actions--reset"><a class="btn">Tout voir</a></div> -->
      <!-- 	  </div> -->
      <!-- 	</div> -->
      <!-- </div> -->
      <div class="row">
        <div class="col-lg-10 offset-lg-1">
          <div class="e-content" itemprop="articleBody" style="color:{{ page.project_font }};">
            {{ content }}
          </div>

          {% if site.disqus.shortname %} {% include disqus_comments.html %} {% endif %}

          <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
        </div>
      </div>
    </div>
</article>
