---
layout: default
---
<article class="project h-entry" itemscope itemtype="http://schema.org/BlogPosting">
    <div class="container page-header" aria-label="Header">
      <div class="row">
        <div class="col-lg-10 offset-lg-1">
          <header>
            <h1 class="page-title p-name" itemprop="name headline">{{ page.title | escape }}</h1>
          </header>
        </div>
      </div>
    </div>

    <div class="container page-content" aria-label="Content">
      <div class="row">
        <div class="col-lg-10 offset-lg-1">
          <div class="e-content" itemprop="articleBody" >
            <div class="references-logos">
              <div class="references-logo"><img src="/assets/images/logo/adria.svg"/></div>
              <div class="references-logo"><img src="/assets/images/logo/archimed.svg"/></div>
              <div class="references-logo"><img src="/assets/images/logo/axigate.svg"/></div>
              <div class="references-logo"><img src="/assets/images/logo/hager.svg"/></div>
              <div class="references-logo"><img src="/assets/images/logo/marini_ermont.svg"/></div>
              <div class="references-logo"><img src="/assets/images/logo/ministere-sante.svg"/></div>
              <div class="references-logo"><img src="/assets/images/logo/paris.svg"/></div>
              <div class="references-logo"><img src="/assets/images/logo/renault.svg"/></div>
              <div class="references-logo"><img src="/assets/images/logo/restlet.svg"/></div>
              <div class="references-logo"><img src="/assets/images/logo/rimes.svg"/></div>
              <div class="references-logo"><img src="/assets/images/logo/suez.svg"/></div>
              <div class="references-logo"><img src="/assets/images/logo/sncf.svg"/></div>
              <div class="references-logo"><img src="/assets/images/logo/thales.svg"/></div>
              <div class="references-logo"><img src="/assets/images/logo/uvasc.svg"/></div>
            </div>
            {{ content }}
          </div>

          {% if site.disqus.shortname %} {% include disqus_comments.html %} {% endif %}

          <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
        </div>
      </div>
    </div>
</article>
