.layout-article{
    article{
	// background: #333;
	// color: #FFF;
	// background: rgb(255,255,225);
	.page-header{
	    // margin-top: 5rem;
	    h1.page-title{
		font-size: 3.5rem;
		color: var(--dark);
		margin-bottom: 0.5rem;
	    }
	    .page-meta{
		margin-top: 0.5rem;
		font-size: 0.875rem;
		font-family: var(--font-family-sans);
		color: #999;
		font-weight: 900;
		text-transform: uppercase;
		letter-spacing: 0.125rem;
	    }
	}
	p, ul li{
	    // font-family: Elena;
	    font-family: var(--font-family-sans);
	    font-size: 1.1rem;
	    line-height: 1.8rem;
	}
	blockquote{
	    // border-left: 4px solid var(--gray);
	    margin: 3rem 6rem;
	    text-align: center;
	    border-top: 1px solid var(--gray-light);
	    // border-bottom: 1px solid var(--gray-light);
	    
	    p, ul, li{
		font-family: var(--font-family-sans);
		font-size: 1.25rem;
		font-weight: 800;
		// margin-left: 2rem;
		color: var(--gray);
		margin-top: 2rem;
		margin-bottom: 4rem;
	    }
	}
	.small{
	    margin-bottom: 2rem;
	}
	a{
	    border-bottom: 1px solid var(--dark);
	}
	img{
	    width: 100%;
	    // margin-left: -176px;
	    // margin-bottom: 4rem;
	}
    }

}
