///////////////////////////
// Nitti Basic (monospace)
// @font-face {
//     font-family: 'NittiNormal';
//     font-style: normal;
//     font-weight: 400;
//     font-display: auto;
//     src: url('fonts/NittiBasic-Normal.eot');
//     src: url('fonts/NittiBasic-Normal.eot?#iefix') format('embedded-opentype'),
//          url('fonts/NittiBasic-Normal.woff') format('woff'),
//          url('fonts/NittiBasic-Normal.woff2') format('woff2'),
//          url('fonts/NittiBasic-Normal.ttf') format('truetype'),
//          url('fonts/NittiBasic-Normal.svg#NittiBasic-Normal') format('svg');
// }
@font-face {
    font-family: 'CircularAir';
    font-style: normal;
    font-weight: 400;
    font-display: auto;
    src: url('fonts/Circular_Air-Book.eot');
    src: url('fonts/Circular_Air-Book.eot?#iefix') format('embedded-opentype'),
         url('fonts/Circular_Air-Book.woff') format('woff'),
         url('fonts/Circular_Air-Book.woff2') format('woff2'),
         url('fonts/Circular_Air-Book.ttf') format('truetype'),
         url('fonts/Circular_Air-Book.svg#Circular_Air-Book') format('svg');
}
@font-face {
    font-family: 'CircularAir';
    font-style: normal;
    font-weight: 700;
    font-display: auto;
    src: url('fonts/Circular_Air-Bold.eot');
    src: url('fonts/Circular_Air-Bold.eot?#iefix') format('embedded-opentype'),
         url('fonts/Circular_Air-Bold.woff') format('woff'),
         url('fonts/Circular_Air-Bold.woff2') format('woff2'),
         url('fonts/Circular_Air-Bold.ttf') format('truetype'),
         url('fonts/Circular_Air-Bold.svg#Circular_Air-Bold') format('svg');
}
@font-face {
    font-family: 'NittiBold';
    font-style: normal;
    font-weight: 700;
    font-display: auto;
    src: url('fonts/Nitti-Bold.eot');
    src: url('fonts/Nitti-Bold.eot?#iefix') format('embedded-opentype'),
         url('fonts/Nitti-Bold.woff') format('woff'),
         url('fonts/Nitti-Bold.woff2') format('woff2'),
         url('fonts/Nitti-Bold.ttf') format('truetype'),
         url('fonts/Nitti-Bold.svg#Nitti-Bold') format('svg');
}
//////////////
// Fivo Sans
@font-face {
    font-family: 'FivoExtraBlack';
    font-style: normal;
    font-weight: 900;
    font-display: auto;
    src: url('fonts/FivoSansModern-ExtBlack.eot');
    src: url('fonts/FivoSansModern-ExtBlack.eot?#iefix') format('embedded-opentype'),
         url('fonts/FivoSansModern-ExtBlack.woff') format('woff'),
         url('fonts/FivoSansModern-ExtBlack.woff2') format('woff2'),
         url('fonts/FivoSansModern-ExtBlack.ttf') format('truetype'),
         url('fonts/FivoSansModern-ExtBlack.svg#FivoSansModern-ExtBlack') format('svg');
}
@font-face {
    font-family: 'FivoHeavy';
    font-style: normal;
    font-weight: 800;
    font-display: auto;
    src: url('fonts/FivoSansModern-Heavy.eot');
    src: url('fonts/FivoSansModern-Heavy.eot?#iefix') format('embedded-opentype'),
         url('fonts/FivoSansModern-Heavy.woff') format('woff'),
         url('fonts/FivoSansModern-Heavy.woff2') format('woff2'),
         url('fonts/FivoSansModern-Heavy.ttf') format('truetype'),
         url('fonts/FivoSansModern-Heavy.svg#FivoSansModern-Heavy') format('svg');
}

/////////////////////
// Tiempos Text
@font-face {
    font-family: 'TiemposText';
    font-style: normal;
    font-weight: 400;
    font-display: auto;
    src: url('fonts/TiemposText-Regular.eot');
    src: url('fonts/TiemposText-Regular.eot?#iefix') format('embedded-opentype'),
         url('fonts/TiemposText-Regular.woff') format('woff'),
         url('fonts/TiemposText-Regular.woff2') format('woff2'),
         url('fonts/TiemposText-Regular.ttf') format('truetype'),
         url('fonts/TiemposText-Regular.svg#TiemposText-Regular') format('svg');
}
@font-face {
    font-family: 'TiemposText';
    font-style: italic;
    font-weight: 400;
    font-display: auto;
    src: url('fonts/TiemposText-RegularItalic.eot');
    src: url('fonts/TiemposText-RegularItalic.eot?#iefix') format('embedded-opentype'),
         url('fonts/TiemposText-RegularItalic.woff') format('woff'),
         url('fonts/TiemposText-RegularItalic.woff2') format('woff2'),
         url('fonts/TiemposText-RegularItalic.ttf') format('truetype'),
         url('fonts/TiemposText-RegularItalic.svg#TiemposText-RegularItalic') format('svg');
}
@font-face {
    font-family: 'TiemposText';
    font-style: normal;
    font-weight: 700;
    font-display: auto;
    src: url('fonts/TiemposText-Bold.eot');
    src: url('fonts/TiemposText-Bold.eot?#iefix') format('embedded-opentype'),
         url('fonts/TiemposText-Bold.woff') format('woff'),
         url('fonts/TiemposText-Bold.woff2') format('woff2'),
         url('fonts/TiemposText-Bold.ttf') format('truetype'),
         url('fonts/TiemposText-Bold.svg#TiemposText-Bold') format('svg');
}
@font-face {
    font-family: 'TiemposText';
    font-style: italic;
    font-weight: 700;
    font-display: auto;
    src: url('fonts/TiemposText-BoldItalic.eot');
    src: url('fonts/TiemposText-BoldItalic.eot?#iefix') format('embedded-opentype'),
         url('fonts/TiemposText-BoldItalic.woff') format('woff'),
         url('fonts/TiemposText-BoldItalic.woff2') format('woff2'),
         url('fonts/TiemposText-BoldItalic.ttf') format('truetype'),
         url('fonts/TiemposText-BoldItalic.svg#TiemposText-BoldItalic') format('svg');
}
///////////////////////////
// Nitti Basic (monospace)
@font-face {
    font-family: 'Nitti';
    font-style: normal;
    font-weight: 400;
    font-display: auto;
    src: url('fonts/NittiBasic-Normal.eot');
    src: url('fonts/NittiBasic-Normal.eot?#iefix') format('embedded-opentype'),
         url('fonts/NittiBasic-Normal.woff') format('woff'),
         url('fonts/NittiBasic-Normal.woff2') format('woff2'),
         url('fonts/NittiBasic-Normal.ttf') format('truetype'),
         url('fonts/NittiBasic-Normal.svg#NittiBasic-Normal') format('svg');
}
@font-face {
    font-family: 'Nitti';
    font-style: normal;
    font-weight: 700;
    font-display: auto;
    src: url('fonts/Nitti-Bold.eot');
    src: url('fonts/Nitti-Bold.eot?#iefix') format('embedded-opentype'),
         url('fonts/Nitti-Bold.woff') format('woff'),
         url('fonts/Nitti-Bold.woff2') format('woff2'),
         url('fonts/Nitti-Bold.ttf') format('truetype'),
         url('fonts/Nitti-Bold.svg#Nitti-Bold') format('svg');
}




////////////////////////
// KLIM TESTS //////////
////////////////////////

@font-face {
    font-family: 'Financier';
    font-style: normal;
    font-weight: 400;
    font-display: auto;
    // src: url('fonts/Circular_Air-Book.eot');
    src: url('fonts/klim/Financier_Collection_Test/Financier Display Test/financier-display-test-regular.woff') format('woff'),
}
@font-face {
    font-family: 'Financier';
    font-style: normal;
    font-weight: 700;
    font-display: auto;
    // src: url('fonts/Circular_Air-Book.eot');
    src: url('fonts/klim/Financier_Collection_Test/Financier Display Test/financier-display-test-bold.woff') format('woff'),
}

@font-face {
    font-family: 'Signifier';
    font-style: normal;
    font-weight: 400;
    font-display: auto;
    // src: url('fonts/Circular_Air-Book.eot');
    src: url('fonts/klim/Signifier_Test/signifier-test-regular.woff') format('woff'),
}
@font-face {
    font-family: 'Signifier';
    font-style: normal;
    font-weight: 700;
    font-display: auto;
    // src: url('fonts/Circular_Air-Book.eot');
    src: url('fonts/klim/Signifier_Test/signifier-test-bold.woff') format('woff'),
}
@font-face {
    font-family: 'Signifier';
    font-style: italic;
    font-weight: 400;
    font-display: auto;
    // src: url('fonts/Circular_Air-Book.eot');
    src: url('fonts/klim/Signifier_Test/signifier-test-regular-italic.woff') format('woff'),
}
@font-face {
    font-family: 'Signifier';
    font-style: italic;
    font-weight: 700;
    font-display: auto;
    // src: url('fonts/Circular_Air-Book.eot');
    src: url('fonts/klim/Signifier_Test/signifier-test-bold-italic.woff') format('woff'),
}




///////////////////////////
// Fleischmann
////////////////////////
@font-face {
    font-family: 'Fleischmann';
    font-style: normal;
    font-weight: 400;
    font-display: auto;
    // src: url('fonts/Circular_Air-Book.eot');
    src: url('fonts/DTL-Fleischmann-D-Regular_14621.woff') format('woff'),
}
@font-face {
    font-family: 'Fleischmann';
    font-style: normal;
    font-weight: 700;
    font-display: auto;
    // src: url('fonts/Circular_Air-Book.eot');
    src: url('fonts/DTL-Fleischmann-D-Bold_14609.woff') format('woff'),
}





@font-face {
    font-family: 'Newzald';
    font-style: normal;
    font-weight: 400;
    font-display: auto;
    // src: url('fonts/Circular_Air-Book.eot');
    src: url('fonts/klim/Newzald_Test/newzald-test-book.woff') format('woff'),
}
@font-face {
    font-family: 'Newzald';
    font-style: normal;
    font-weight: 700;
    font-display: auto;
    // src: url('fonts/Circular_Air-Book.eot');
    src: url('fonts/klim/Newzald_Test/newzald-test-black.woff') format('woff'),
}







@font-face {
    font-family: 'Founders';
    font-style: normal;
    font-weight: 400;
    font-display: auto;
    // src: url('fonts/Circular_Air-Book.eot');
    src: url('fonts/klim/Founders_Grotesk_Collection_Test/Founders Grotesk Text Test/founders-grotesk-text-test-regular.woff') format('woff'),
}


@font-face {
    font-family: 'National2';
    font-style: normal;
    font-weight: 400;
    font-display: auto;
    // src: url('fonts/Circular_Air-Book.eot');
    src: url('fonts/klim/National_2_Collection_Test/National 2 Test/national-2-test-regular.woff') format('woff'),
}
@font-face {
    font-family: 'Geograph';
    font-style: normal;
    font-weight: 400;
    font-display: auto;
    // src: url('fonts/Circular_Air-Book.eot');
    src: url('fonts/klim/Geograph_Test/geograph-test-regular.woff') format('woff'),
}


////////////////////////
// LINETO //////////
////////////////////////
@font-face {
    font-family: 'Supreme';
    font-style: normal;
    font-weight: 400;
    font-display: auto;
    // src: url('fonts/Circular_Air-Book.eot');
    src: url('fonts/lineto/SupremeLLWebTrial-RegularTrial.woff') format('woff'),
}
@font-face {
    font-family: 'Lettera';
    font-style: normal;
    font-weight: 400;
    font-display: auto;
    // src: url('fonts/Circular_Air-Book.eot');
    src: url('fonts/lineto/LetteraTextLLWebTrial-RegularTrial.woff') format('woff'),
}

////////////////////////
// GOOGLE //////////
////////////////////////
@font-face {
    font-family: 'WorkSans';
    font-style: normal;
    font-weight: 400;
    font-display: auto;
    // src: url('fonts/Circular_Air-Book.eot');
    src: url('fonts/WorkSans-Regular.woff') format('woff'),
}
@font-face {
    font-family: 'WorkSans';
    font-style: normal;
    font-weight: 700;
    font-display: auto;
    // src: url('fonts/Circular_Air-Book.eot');
    src: url('fonts/WorkSans-Bold.woff') format('woff'),
}
