
html{
    font-size: 1.1rem;
}

body{
    font-family: var(--font-family-monospace);
    background: var(--light);
    color: var(--dark);
    margin: 0;
    overflow-x: hidden;
}

::-moz-selection { /* Code for Firefox */
  color: var(--dark);
  background: var(--yellow);
}

::selection {
  color: var(--dark);
  background: var(--yellow);
}

h1{font-size: 3rem;}
h2{font-size: 2.4rem;}
h3{font-size: 2.1rem;}
h4{font-size: 1.8rem;}
h5{font-size: 1.5rem;}
h6{font-size: 1.2rem;}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    margin-top: 3rem;
    margin-bottom: 1rem;
    font-family: var(--font-family-sans);
    font-weight: 900;
}

h1, h2, h3, h4, .h1, .h2, .h3, .h4 {
    font-weight: 700;
}

h6, .h6{
    font-weight: 600;
}
h5, .h5{
    font-weight: 400;
}

p, pre code, ul{
    font-size: 1rem;
    line-height: 1.6rem;
    margin-bottom: 2rem;
}

sup {
    /* hack to prevent line-heaight breaks */
    vertical-align: top;
    position: relative;
    top: -0.5em;
    font-size: 0.65rem;
}

ul{
    margin-left: 0;
    padding-left: 0;
    
    li{
	line-height: 1.8rem;
	list-style-type: none;

	&:before {
	    content: "⎯"; /* on affiche une chaîne de caractère */
	    margin-left: -33px;
	    margin-right: 15px;
	}
    }
    

    ul{
	margin-left: 1rem;
    }
}


// links & buttons
a{
    text-decoration: none;
    border-bottom: 1px solid var(--dark);
    background: none;
    color: inherit;

    @include transition(all, 0.25s, ease-out);
    
    &:hover{
	background: var(--yellow);
	color: var(--dark);
	border-bottom: 1px solid rgba(0,0,0,0.15)
    }
}
.btn{
    border: 1px solid var(--dark);
    color: var(--dark);
    text-decoration: none;
    background-color: none;
    padding: 8px 14px;
    font-family: var(--font-family-monospace);
    font-size: 1rem;
    display: inline-block;
    margin-right: 0.5rem;
    margin-bottom:1rem;
    
    @include transition(all, 0.25s, ease-out);
    // @include border-radius(4px);

    &:hover{
	background-color: var(--yellow);
	border: 1px solid var(--yellow);
	// color: var(--);
    }
    &:focus{
	box-shadow: 0 0 0 .2rem var(--yellow);
    }
}


//

small, .small{
    font-size: 90%;
    color: var(--gray);
}
code, kbd, pre, samp{
    font-family: var(--font-family-monospace);
    line-height: 1.5rem;
}

/* Layout */
.container-fluid{
    padding-right: 0;
}

table{
    border-collapse: collapse;
    tr{
	border-bottom: 1px solid var(--gray-light);

	th, td{
	    padding: 1rem 0.5rem 1rem 0;
	    vertical-align: middle;
	    font-size: 1rem;
	    line-height: 1.6rem;

	}
	// td:first-child{
	//     opacity: 0.65;
	//     // color: blue;
	// }
    }
}

.separator--eye{
    background: url(/assets/images/logo/eye_logo_dark.svg) center center no-repeat;
    background-size: contain;
    width: 100%;
    height: 40px;
    margin: 0 0 48px 0;
}
.separator--end{
    background: url(/assets/images/separator.svg) center center no-repeat;
    background-size: contain;
    width: 100%;
    height: 24px;
    margin: 48px 0;
}

