// .layout-home


.layout-home{
    background: var(--dark);
    color: var(--light);

    // h3:first-child{
    // 	margin-bottom: 3rem;
    // }

    #presentation{
	background: #242a2f;
	padding-top: 2rem;

	// #illustration{
	//     display: flex;
	//     height: 100%;
	//     justify-content: center;
	//     align-items: center;
	// }

	h3#projets{
	    margin-top: 0;
	    margin-bottom: 1.25rem;
	}
	
	#projects-promoted{
	    .col-lg{
		margin-bottom: 2rem;
	    }
	    .card{
		display: block;
		background: var(--dark);
		border-bottom: none;
		// margin-bottom: 2rem;
		
		&:hover{
		    background: var(--yellow);
		    
		    .card--thumb{
			opacity: 0.75;
		    }
		    .card--client{
			color: var(--dark-l);		
		    }
		}
		
		.card--thumb{
		    height: 12rem;
		    background-position: center;
		    background-size: 100%;
		    @include transition(all, 0.15s, ease-in-out);
		}
		.card--title{
		    padding: 1rem 1rem 0.125rem 1rem;
		    // font-family: var(--font-family-sans);
		    // font-size: 1.125rem;
		}
		.card--client{
		    color: rgba(255,255,255,0.5);
		    padding: 0 1rem 1rem 1rem;
		    @include transition(all, 0.15s, ease-in-out);
		}
	    }
	    .card--more{
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		height: 100%;

		border-bottom: none;
		background: var(--dark);
		padding: 2rem 0;

		p{
		    margin: 0;
		}

		&:hover{
		    background: var(--yellow);

		    p{
			color: var(--dark);
		    }

		}
	    }
	}
    }
    
    .content{
	// padding: 48px 0;

	a{
	    border-bottom: 1px solid var(--gray);
	}
	
	img[alt="hello"]{
	    width: 48px;
	    margin: 16px 0;
	}
	blockquote p{
	    display: flex;
	    color: var(--blue);
	    
	    img{
		width: 320px;
		height: 320px;
		border: 15px solid #FFF;
		margin: 56px auto;
	    }

	}

    }

    .intro{
	// margin-left: 56px;
	height: 100vh; // pour éviter que ça ne saute avant que js ne resize la hauteur dynamiquement.
	color: var(--white);
	display: flex;
	justify-content: center;
	align-items: center;
	background: #000;

	
	// transition: all 0.25s ease-in;

	.slides{
	    position: absolute;
	    top: 0;
	    left: 0;
	    z-index: 0;
	    	overflow: hidden;
	    
	    width: 100vw;
	    height: 100vh;
	    
	    .slide{
		background-size: cover;
		position: absolute;
		background-position: center;
		
		width: 100%;
		height: 100%;
	    	transition: all 0.75s ease-in-out;

		img{
		    // height: 100%;
		    // left: calc(0 - )
		}

		&#slide-1{
		    // background-image: url(/assets/images/intro-1.jpg);
		}
		&#slide-2{
		    // background-image: url(/assets/images/intro-2.jpg);
		}
		&#slide-3{
		    // background-image: url(/assets/images/intro-3.jpg);
		}
		&#slide-4{
		    // background-image: url(/assets/images/intro-4.jpg);
		}
		&#slide-5{
		    // background-image: url(/assets/images/intro-5.jpg);
		}
		&#slide-6{
		    // background-image: url(/assets/images/intro-6.jpg);
		}

		&.hidden{
		    opacity: 0;
		}
		&.visible{
		    opacity: 1;
		}
	    }
	}


	/////////////////////
	// Phrase d'intro
	/////////////////////
	.intro--content{
	    // margin: auto;
	    width: 100vw;
	    z-index:3;

	    // padding: 0 256px;
	    display: flex;
	    flex-direction: column;
	    justify-content: center;
	    // align-items: center;
	    height: 100vh;
	  
	    a{
		color: var(--white);
		font-family: var(--font-family-serif);
		text-decoration: none;
		border-bottom: none;
		background: none;
		display: block;
		padding-left: 80px;
		width: 90vw;

		.sentence{
		    .strong{
			font-weight: 700;
		    }
		    p{
			margin-top: 0;
			margin-bottom: 0;
			color: var(--light);
			transition: color 0.25s linear;

			@include animation('startSentence 1.5s ease-out');
			// animation-delay: 0.5s;
			
			&:nth-child(1){
			    animation-delay: 0.5s;
			}
			&:nth-child(2){
			    animation-delay: 0.6s;
			}
			&:nth-child(3){

			    animation-delay: 0.7s;
			}
			&:nth-child(4){
			    margin-top: 40px;
			    animation-delay: 0.85s;
			}
			&:nth-child(5){
			    animation-delay: 1s;
			}
		    }
		}

		.highlighterWrapper{
		   position: absolute;
		   top: 370px;
		   left: 72px;
		   // width: inherit;
		   overflow: hidden;
		   // margin-top: 40px;
		   
		   .highlighter{
		       position: relative;
		       top: 0;
		       left: 0;
		       background: var(--yellow);
		       height: 48px;
		       // mix-blend-mode: difference;
		       // transform: scale(1, 1); /* Equal to scaleX(2) scaleY(0.5) */
		       transform-origin: left;
		   }

		    #highlighter-1{
			width: 562px;
		    }
		    #highlighter-2{
			width: 353px;
		    }
		    #highlighter-3{
			width: 477px;
			// animation-delay: 0.075s;
		    }
		    #highlighter-4{
			margin-top: 40px;
			width: 701px;
			// animation-delay: 0.085s;
		    }
		    #highlighter-5{
			width: 477px;
			// animation-delay: 0.095s;
		    }
		}


		#highlighterIntro{
		    z-index: 10;
		    mix-blend-mode: difference;
		    
		    .highlighter{
			transform:  translateX(100%) scale(0, 1);
			@include animation('startHighlighter 1s ease-in-out');
		    }
		    #highlighter-1{
			// width: 71%;
			animation-delay: 0.15s;
		    }
		    #highlighter-2{
			// width: 74%;
			animation-delay: 0.25s;
		    }
		    #highlighter-3{
			// width: 55%;
			animation-delay: 0.35s;
		    }
		    #highlighter-4{
			margin-top: 40px;
			// width: 83%;
			animation-delay: 0.5s;
		    }
		    #highlighter-5{
			// width: 54%;
			animation-delay: 0.65s;
		    }
		}
		#highlighterHover{
		    z-index: -10;
		    .highlighter{
			transform: translateX(100%) scale(0, 1);
			@include animation('hoverHighlighterOut .2s ease-out');
		    }
		    
		}

		&:hover{
		    .sentence{
			p{
			    color: var(--dark);
			}
		    }


		    #highlighterHover{
			.highlighter{
			    transform: translateX(0%) scale(1, 1);
			    @include animation('hoverHighlighter .25s cubic-bezier(0.5, 0, 0.5, 1)');
			}
		
		    }
		}

		@include keyframes(startHighlighter){
		    0%{
			transform: translateX(0%) scale(0, 1);
		    }
		   
		    50%{
			transform: translateX(0%) scale(1, 1);
			// transform-origin: right;
		    }
		    100%{
			transform: translateX(100%) scale(0, 1);
		    }
		}
		@include keyframes(hoverHighlighter){
		    0%{
			transform: translateX(0%) scale(0, 1);
		    }
		    100%{
			transform: translateX(0%) scale(1, 1);
		    }		 
		}
		@include keyframes(hoverHighlighterOut){
		    0%{
			transform: translateX(0%) scale(1, 1);
		    }
		    100%{
			transform: translateX(100%) scale(0, 1);
		    }		 
		}
		@include keyframes(startSentence){
		    0%{
			opacity: 0;
		    }
		    100%{
			opacity: 100%;
		    }
		}
		p{
		    font-size: 2.5rem;
		    line-height: 3rem;
		}

		// les paramètres lorsque l'animation est joué sur la phrase de présentation
		&.isPlayingIntro{
		    
		}

		// les paramètres lorsque l'animation est terminé sur la présentation (= hover actif)  

		    

		    
	
		
		// @include keyframes(helloHover){
		//     0%{
		// 	transform: scale(0, 0);
		//     }
		//     100%{
		// 	transform: scale(2, 2);
		//     }
		// }
		
		
		// #bubblesAnimation{
		//     opacity: 0.95;
		//     transition: all 0.35s ease-in-out;
		//     position: absolute;
		//     top: calc(50vh - 270px);
		//     // left: calc(50vw - 270px);
		//     left: 192px;
		//     z-index:-999;
		//     transform: scale(0,0);
		// }

		
	    }
	    
	    // link
	    #intro-link{
		display:block;
		padding: 1rem;
		border: 1px solid #FFF;
		width: auto;
		margin-top: 8vh;
		
		&:hover{
		    background: var(--yellow);
		    border: 1px solid var(--yellow);
		}
	    }
	    

	}
	.details{
	    position: absolute;
	    z-index: 10;
	    right: 56px;
	    bottom: 80px;
	    text-align: right;
	    width: 50vw;
	    display: flex;
	    justify-content: flex-end;
	    
	    p.slide-details{
		color: rgba(255,255,255,0.75);
		transition: all 0.25s ease-in;
		position: absolute;
		font-size: 0.875rem;
		line-height: 1.25rem;
		
		a{
		    color: var(--white);
		    border-bottom: 1px solid #FFF;

		    &:hover{
			color: var(--dark);
		    }
		}
		&.hidden{
		    opacity: 0;
		}
		&.visible{
		    opacity: 1;
		}
	    }
	}
	.more{
	    z-index: 4;
	    animation: moreContent 1.5s ease-in-out;
	    animation-iteration-count: 3;
	    animation-delay: 2s;
	    position: absolute;
	    bottom: 64px;
	    // margin: 0 auto 0 64px;
	    left: calc(50vw - 15px);

	    @keyframes moreContent {
		0% {
		    bottom: 64px;
		}
		50% {
		    bottom: 96px;
		}
		100% {
		    bottom: 64px;
		}
	    }
	}

	.overlay{
	    width: 100vw;
	    height: 100vh;
	    background-color: var(--dark);
	    opacity: 0.5;
	    position: absolute;
	    top: 0;
	    left: 0;
	    z-index:1;
	}
    }
}
