.layout-home{
    background: var(--dark);
    color: var(--light);

    h3:first-child{
	margin-bottom: 3rem;
    }

    #presentation{
	background: #252b31;

	#illustration{
	    display: flex;
	    height: 100%;
	    justify-content: center;
	    align-items: center;
	}

	#projects-promoted{
	    padding-top: 2rem;
	    .col-lg{
		margin-bottom: 2rem;
	    }
	    .card{
		display: block;
		background: var(--dark);
		border-bottom: none;
		// margin-bottom: 2rem;
		
		&:hover{
		    background: var(--yellow);
		    
		    .card--thumb{
			opacity: 0.75;
		    }
		    .card--client{
			color: var(--dark-l);		
		    }
		}
		
		.card--thumb{
		    height: 12rem;
		    background-position: center;
		    background-size: 100%;
		    @include transition(all, 0.15s, ease-in-out);
		}
		.card--title{
		    padding: 1rem 1rem 0.125rem 1rem;
		    // font-family: var(--font-family-sans);
		    // font-size: 1.125rem;
		}
		.card--client{
		    color: rgba(255,255,255,0.5);
		    padding: 0 1rem 1rem 1rem;
		    @include transition(all, 0.15s, ease-in-out);
		}
	    }
	    .card--more{
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		height: 100%;

		border-bottom: none;
		background: var(--dark);
		padding: 2rem 0;

		p{
		    margin: 0;
		}

		&:hover{
		    background: var(--yellow);
		}
	    }
	}
    }
    
    .content{
	padding: 48px 0;
	
	img[alt="hello"]{
	    width: 48px;
	    margin: 16px 0;
	}
	blockquote p{
	    display: flex;
	    color: var(--blue);
	    
	    img{
		width: 320px;
		height: 320px;
		border: 15px solid #FFF;
		margin: 56px auto;
	    }

	}

    }

    .intro{
	// margin-left: 56px;
	height: 100vh; // pour éviter que ça ne saute avant que js ne resize la hauteur dynamiquement.
	color: var(--white);
	display: flex;
	// justify-content: center;
	align-items: center;
	background: #000;
	
	// transition: all 0.25s ease-in;

	.slides{
	    position: absolute;
	    top: 0;
	    left: 0;
	    z-index: 0;
	    
	    width: 100vw;
	    height: 100vh;
	    
	    .slide{
		background-size: cover;
		position: absolute;
		background-position: center;
		
		width: 100%;
		height: 100%;
	    	transition: all 0.75s ease-in-out;

		&#slide-1{
		    background-image: url(/assets/images/intro-1.jpg);
		}
		&#slide-2{
		    background-image: url(/assets/images/intro-2.jpg);
		}
		&#slide-3{
		    background-image: url(/assets/images/intro-3.jpg);
		}
		&#slide-4{
		    background-image: url(/assets/images/intro-4.jpg);
		}
		&#slide-5{
		    background-image: url(/assets/images/intro-5.jpg);
		}
		&#slide-6{
		    background-image: url(/assets/images/intro-6.jpg);
		}

		&.hidden{
		    opacity: 0;
		}
		&.visible{
		    opacity: 1;
		}
	    }
	}
	
	.intro--content{
	    // margin: auto;
	    width: 100vw;
	    z-index:3;

	    // padding: 0 256px;

	    display: flex;
	    flex-direction: column;
	    justify-content: center;
	    // align-items: center;
	    height: 100vh;
	  
	    a{
		color: var(--white);
		text-decoration: none;
		border-bottom: none;
		background: none;
		display: block;
		padding-left: 80px;
		// text-align: center;
		width: 90vw;
		// height: 544px;
		// padding: 224px 32px;

		p{
		    font-size: 2rem;
		    line-height: 2.5rem;
		}

		#bubblesAnimation{
			transform: scale(3, 3);
			@include animation('helloHover reverse 0.15s cubic-bezier(1, 0, 1, 1)');
		}
		
		&:hover{
		    color: var(--dark);
		    // background: var(--yellow);

		    #bubblesAnimation{
			transform: scale(3, 3);
			@include animation('helloHover 0.5s cubic-bezier(0,0,0,1)');
		    }
		}

		@include keyframes(helloHover){
		    0%{
			transform: scale(0, 0);
		    }
		    100%{
			transform: scale(2, 2);
		    }
		}
		
		.hello{
		    display: block;
		    font-size: 128px;
		    line-height: 96px;
		    font-family: var(--font-family-sans);
		    font-weight: 900;
		}
		.sentence{
		    display: block;
		    margin-top: 0;
		    font-size: 28px;
		    font-weight: 400;
		    font-family: var(--font-family-sans);
		}
		#bubblesAnimation{
		    opacity: 0.95;
		    transition: all 0.35s ease-in-out;
		    position: absolute;
		    top: calc(50vh - 270px);
		    // left: calc(50vw - 270px);
		    left: 192px;
		    z-index:-999;
		    transform: scale(0,0);
		}

		
	    }
	    
	    // link
	    #intro-link{
		display:block;
		padding: 1rem;
		border: 1px solid #FFF;
		width: auto;
		margin-top: 8vh;
		
		&:hover{
		    background: var(--yellow);
		    border: 1px solid var(--yellow);
		}
	    }
	    

	}
	.details{
	    position: absolute;
	    z-index: 10;
	    right: 56px;
	    bottom: 80px;
	    text-align: right;
	    width: 50vw;
	    display: flex;
	    justify-content: flex-end;
	    
	    p.slide-details{
		color: rgba(255,255,255,0.75);
		transition: all 0.25s ease-in;
		position: absolute;
		font-size: 0.875rem;
		line-height: 1.25rem;
		
		a{
		    color: var(--white);
		    border-bottom: 1px solid #FFF;

		    &:hover{
			color: var(--dark);
		    }
		}
		&.hidden{
		    opacity: 0;
		}
		&.visible{
		    opacity: 1;
		}
	    }
	}
	.more{
	    z-index: 4;
	    animation: moreContent 1.5s ease-in-out;
	    animation-iteration-count: 3;
	    animation-delay: 2s;
	    position: absolute;
	    bottom: 64px;
	    // margin: 0 auto 0 64px;
	    left: calc(50vw - 15px);

	    @keyframes moreContent {
		0% {
		    bottom: 64px;
		}
		50% {
		    bottom: 96px;
		}
		100% {
		    bottom: 64px;
		}
	    }
	}

	.overlay{
	    width: 100vw;
	    height: 100vh;
	    background-color: var(--dark);
	    opacity: 0.5;
	    position: absolute;
	    top: 0;
	    left: 0;
	    z-index:1;
	}
    }
}
