#site-menu{
    position: fixed;
    z-index: 999;
    width: 56px;
    top: 0;
    left: 0;
    height: 100%;
    padding: 32px 16px;
    transition: all 0.2s ease-in-out;
    overflow: hidden;
    background: #0b090a;

    .header{
	color: #FFFFFF;
	.ico{
	    cursor: pointer;
	    opacity: 1;
	    transform: scale(1, 1);
	    transition: all 0.2s ease-in-out;
	    position: absolute;
	    right: 12px;
	    top: 16px;
	    
	    &:hover{
		transform: scale(1.25, 1);
		color: yellow;
	    }
	}
	#close-ico{
	    opacity: 0;
	}
	#menu-ico{
	    opacity: 1;
	}
    }

    &.visible{
	width: 320px;
	padding: 32px 32px;

	.header{
	    #close-ico{
		cursor: pointer;
		opacity: 1;
		color: #FFF;
	    }
	    #menu-ico{
		cursor: pointer;
		opacity: 0;
	    }
	}

	.menu-main{
	    opacity: 1;

	    a{
		margin-bottom: 0.5rem;
		display: block;
		opacity: 1;
		visibility: visible;
	    }
	}
	
    }

    .menu-main{
	opacity: 0;
	transition: opacity 0.25s ease-in-out;
	overflow: hidden;

	a{
	    opacity: 0;
	    visibility: hidden;
	    color: #FFF;
	    margin-bottom: 0.5rem;
	    display: block;
	    text-decoration: none;
	    border-bottom: none;

	    &:hover{
		background: none;
		color: yellow;
	    }
	}
	
	.menu{
	    list-style-type: none;
	    margin: 0;
	    // padding-bottom: 6rem;

	    hr{
		// border: none;
		// height: 1px;
		// background: rgba(255,255,255,0.15);
		margin: 1.125rem 0;
		opacity:0;
	    }
	    
	    li{
		width: 100vh;
		
		&:before{
		    content: none;
		}
		
	    }
	}
	footer{
	    position: absolute;
	    bottom: 0;
	    // height: 80px;
	    background: #0b090a;

	    ul{
		list-style-type: none;
		li{
		    &:before {
			display: none;
			content: ""; /* on affiche une chaîne de caractère */
			
		    }
		}
	    }
	    
	    p{
		width: 100vh;
		display: block;
		color: rgba(255,255,255,0.5);
		font-size: 0.875rem;
		line-height: 1.4rem;

		.cc{		    
		    margin-left: 0.275rem;
		    opacity: 0.5;
		    position: relative;
		    top: 3px;
		}
		&.made-by{
		    margin-top: 0;
		}
	    }
	}
    }
}




