#site-menu{
    position: fixed;
    z-index: 999;
    width: 56px;
    top: 0;
    left: 0;
    height: 100%;
    padding: 16px;
    transition: all 0.2s ease-in-out;
    overflow: hidden;

    .header{
	color: #FFFFFF;
	#menu-ico{
	    cursor: pointer;
	    opacity: 1;
	    transform: scale(1, 1);
	    transition: all 0.2s ease-in-out;

	    &:hover{
		transform: scale(1.25, 1);
		color: yellow;
	    }
	}
    }

    &.visible{
	width: 320px;
	padding: 16px 32px;

	.header{
	    #menu-ico{
		cursor: pointer;
		opacity: 0;
	    }
	}

	.menu-main{
	    opacity: 1;

	    a{
		margin-bottom: 0.5rem;
		display: block;
		opacity: 1;
		visibility: visible;
	    }
	}
	
    }

    .menu-main{
	opacity: 0;
	transition: opacity 0.25s ease-in-out;
	overflow: hidden;

	a{
	    opacity: 0;
	    visibility: hidden;
	    color: #FFF;
	    margin-bottom: 0.5rem;
	    display: block;
	    text-decoration: none;
	    border-bottom: none;

	    &:hover{
		background: none;
		color: yellow;
	    }
	}
	
	.menu{
	    list-style-type: none;
	    margin: 0;

	    hr{
		// border: none;
		// height: 1px;
		// background: rgba(255,255,255,0.15);
		margin: 1.125rem 0;
		opacity:0;
	    }
	    
	    li{
		width: 100vh;
		
		&:before{
		    content: none;
		}
		
	    }
	}
	footer{
	    position: absolute;
	    bottom: 0;
	    
	    p{
		width: 100vh;
		display: block;
		color: rgba(255,255,255,0.5);
		font-size: 0.875rem;
		line-height: 1.4rem;

		.cc{
		    margin-left: 0.275rem;
		    opacity: 0.5;
		    position: relative;
		    top: 3px;
		}
	    }
	}
    }
}


// mobile
@media (max-width: 575px) {
    #site-menu{
	background: rgba(0,0,0,0);
	
	.header{
	    background: rgba(255,255,255,0.75);
	    padding:6px 8px;
	    width: 36px;
	    height: 36px;
	    border-radius: 18px;
	    
	    #menu-ico{
		color: #333;	 
	    }
	}

	&.visible{
	    background: #0b090a;

	    .header{
		background:none;
	    }

	}
    }
}


// tablette, landscape, and up.
@media (min-width: 576px) {
    #site-menu{
	background: #0b090a;
	.header{
	    #menu-ico{
		color: #666666;
		color: #FFF;	 
	    }
	}

	&.visible{
	    background: #0b090a;
	    
	}
    }
}

