#mosaique{
    margin-left: 56px;
    width: 100vw;
    
    ul{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	margin: 0;
	padding: 0;
	
	li{
	    list-style-type: none;
	    display: block;

	    &:before {
		content: ""; /* on affiche une chaîne de caractère */
		margin: 0;
	    }

	    a{
		display: block;
		text-decoration: none;
		border: none;
		background-position: center;
		background-size: cover;
		height: 100%;
		width: 100%;


		
		&:hover{

		    .card{
			opacity: 1; 
		    }
		}

		.card{
		    opacity: 0;
		    background-color: rgba(0,0,0,0.5);
		    transition: opacity 0.15s ease-in-out;
		    width: 100%;
		    height: 100%;
		    display: flex; /* contexte sur le parent */
		    padding: 32px;

		    .card--title{
			margin: auto;
			color: #FFF;
		    }
		}
	    }
	}

	ul{
	    // margin-left: 1rem;
	}
    }
}

// mobile
@media (max-width: 575px) {
    #mosaique{
	margin-left: 0;

	ul{
	    li{
		width: 100% !important;
	    }
	}
    }
}

// tablet, laptop and up
@media (min-width: 576px) {}
