#mosaique{
    margin-left: 56px;
    width: 100vw;

    header{
	padding: 1rem;
	width: 80vw;
	// display: flex;
	flex-direction: row;
	
	.filters{
	    position: relative;
	    border: 1px solid var(--light);
	    background-color: var(--dark);
	    // width: 25vw;

	    select#fields{
		display: none;
	    }
	    .select-selected {
		border: 1px solid var(--light);

		/* Style the arrow inside the select element: */
		&:after {
		    position: absolute;
		    content: "";
		    top: 14px;
		    right: 10px;
		    width: 0;
		    height: 0;
		    border: 6px solid transparent;
		    border-color: #fff transparent transparent transparent;
		}
		&.select-arrow-active:after {
		    border-color: transparent transparent #fff transparent;
		    top: 7px;
		}
	    }

	    /* Point the arrow upwards when the select box is open (active): */
	    
	    /* style the items (options), including the selected item: */
	    .select-items div,.select-selected {
		color: #ffffff;
		border: 1px solid var(--light);
		background-color: var(--dark);
		padding: 8px 14px;
		border: 1px solid var(--light);
		border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
		cursor: pointer;
	    }

	    /* Style items (options): */
	    .select-items {
		position: absolute;
		background-color: var(--dark);
		top: 100%;
		left: 0;
		right: 0;
		z-index: 99;



		div{
		    @include transition(all, 0.15s, ease-in-out);
		    &:hover{
			background-color: var(--yellow);
			color: var(--dark);
		    }
		    &.same-as-selected {
			color: var(--yellow);
		    }
		}
	    }

	    /* Hide the items when the select box is closed: */
	    .select-hide {
		display: none;
	    }

	    
	}
	.filters-actions{
	    width: 25vw;
	    padding: 8px 14px;
	    margin-left: 1rem;
	    
	    #filters-actions--reset{
		cursor: pointer;
		@include transition(all, 0.35s, cubic-bezier(.35,0,.17,1));
		
		&:hover{
		    color: var(--yellow);
		}
		&.visible{
		    opacity: 1;
		}
		&.hidden{
		    opacity: 0;
		}
	    }
		
	}
    }
    
    ul{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	margin: 0;
	padding: 0;
	
	li{
	    list-style-type: none;
	    opacity: 1;
	    @include transition(all, 0.35s, cubic-bezier(.35,0,.17,1));
	    
	    &.visible{
		display: block;
	    }
	    &.hidden{
		display: none;
	    }

	    &:before {
		content: ""; /* on affiche une chaîne de caractère */
		margin: 0;
	    }

	    a{
		display: block;
		text-decoration: none;
		border: none;
		background-position: center;
		background-size: 100%;
		height: 100%;
		width: 100%;
		text-align: center;
		line-height: 1.35rem;

		@include transition(all, 0.35s, cubic-bezier(.35,0,.17,1));

		.card{
		    opacity: 0;
		    background-color: rgba(0,0,0,0.5);
		    @include transition(all, 0.07s, ease-in-out);
		    width: 100%;
		    height: 100%;
		    display: flex; /* contexte sur le parent */
		    padding: 32px;

		    .card--title{
			margin: auto;
			color: #FFF;
			position:relative;
			top: 16px;
			@include transition(all, 0.4s, cubic-bezier(0,0,0,1));
		    }
		}

		
		&:hover{
		    background-size: 110%;

		    .card{
			opacity: 1;

			.card--title{
			    top: 0;
			}
		    }
		}

		
	    }
	}

	ul{
	    // margin-left: 1rem;
	}
    }
}

// mobile
@media (max-width: 575px) {
    #mosaique{
	margin-left: 0;

	ul{
	    li{
		width: 100% !important;
	    }
	}
    }
}

// tablet, laptop and up
@media (min-width: 576px) {}
