article{
    margin-left: 56px;
    header{

    }
    .page-header{
	height: auto;
	h1.page-title{
	    color: var(--light);
	    margin-top: 4rem;
	    margin-bottom: 3rem;
	    font-size: 2.5rem;

	    .subtitle{
		opacity: 0.75;
	    }
	}
	p.page-meta{
	    color: var(--gray);
	}
	// on définit cette hauteur en js, dynamiquement
	// height: 416px;
    }
    .page-content{
	margin-bottom: 4rem;
	
	iframe{
	    margin: 0 auto 2rem auto;
	}
	img{
	    // width: 150%;
	}
	
	.highlighter-rouge{
	    // padding: 0.75rem 1.25rem;
	    background: rgba(0,0,0,0.025);
	    margin-bottom: 1rem;
	    
	    pre{
		padding: 0.75rem 1.25rem;
		margin: 0;

		code{
		    font-size: 1rem;
		    line-height: 1.4rem;
		}
	    }
	}
	.back-work{
	    text-align: center;

	    i{
		margin-right: 0.5rem;
	    }
	}

    }

    /////////////////////////////////
    // Navigation interne à l'article
    /////////////////////////////////
    .post-nav{
	position: fixed;
	top: 0;
	width: calc(100% - 56px);
	height: 100vh;
	pointer-events: none;
	z-index: 998;
	visibility: visible;
	
	.post-nav-item{
	    pointer-events: auto;
	    position: absolute;
	    height: 100%;
	    display: flex;
	    flex-direction: column;
	    justify-content: center;
	    width: 128px;
	    opacity: 0;
	    transition: all 0.25s cubic-bezier(1, 0, 1, 1);
	    overflow: hidden;

	    .post-nav-item--inner{
		width: 256px;
		height: 100%;
		
		a{
		    height: 100%;
		    display: block;
		    display: flex;
		    flex-direction: column;
		    justify-content: center;
		    text-align: center;
		    text-decoration: none !important;
		    padding: 1rem;
		}
	    }
	    &.post-nav--prev{
		left: -56px;

		&:hover{
		    left: 0;
		}
	    }
	    &.post-nav--next{
		right: 0;
	    }
	    &:hover{
		width: 256px;
		opacity: 1;
		transition: all 0.15s ease-in-out;
	    }
	}
    }

    blockquote{
	border-left: 4px solid var(--gray);
	margin-left: 0;
	
	p, ul, li{
	    margin-left: 2rem;
	    font-style: italic;
	    color: var(--gray);
	}
    }
    .small{
	margin-bottom: 2rem;
    }
}

// couleur de fond de la nav interne aux articles
.project-light{
    article{
	.post-nav{
	    .post-nav-item{
		.post-nav-item--inner{
		    a{
			background: rgba(255,255,255,0.85);
			&:hover{
			    background: rgba(255,255,255,0.85);
			}
		    }
		    
		}
		&.post-nav--prev{
		    a{
			border-right: 1px solid rgba(0,0,0,0.05);   
		    }
		}
		&.post-nav--next{
		    a{
			border-left: 1px solid rgba(0,0,0,0.05);   
		    }
		} 
	    }
	}
    }    
}
.project-dark{
    article{
	.post-nav{
	    .post-nav-item{
		.post-nav-item--inner{
		    a{
			background: rgba(0,0,0,0.85);
			color: #FFF;
			&:hover{
			    background: rgba(0,0,0,0.85);
			}
		    }
		    
		}
		&.post-nav--prev{
		    a{
			border-right: 1px solid rgba(255,255,255,0.1);   
		    }
		}
		&.post-nav--next{
		    a{
			border-left: 1px solid rgba(255,255,255,0.1);   
		    }
		} 
	    }
	}

	.back-work{
	    a{
		border: 1px solid var(--white);
		color: var(--white);

		&:hover{
		    color: var(--dark);
		    border: 1px solid var(--yellow);
		}
	    }
	}
    }    
}




// references
table{
    tr{
	td{
	    img{
		margin: 0 !important;
		height: 96px !important;
		width: 96px !important;
	    }
	    // &:nth-child(1),
	    // &:nth-child(2){
	    // 	color: #707374;
	    // }
	}
    }
}








// The zero
@media (min-width: 0) {
    .layout-project{
	article{
	    img, video, .vimeo-insert{
		width: 150%;
		margin-left: -25%;
		margin-top: 2rem;
		margin-bottom: 4rem;
	    }
	    .post-nav{
		visibility: hidden;
	    }
	}
    }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
    .layout-project{
	article{
	    img, video, .vimeo-insert{
		width: 150%;
		margin-left: -25%;
		margin-top: 2rem;
		margin-bottom: 4rem;
	    }
	    .post-nav{
		visibility: visible;
	    }
	}
    }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
    .layout-project{
	article{
	    img, video, .vimeo-insert{
		width: 100%;
		margin-left: 0;
		margin-top: 2rem;
		margin-bottom: 4rem;
	    }	
	}
    }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
    .layout-project{
	article{
	    img, video, .vimeo-insert{
		width: 1280px;
		margin-left: -335px;
		margin-top: 2rem;
		margin-bottom: 4rem;
	    }	
	}
    }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
    .layout-project{
	article{
	    img, video, .vimeo-insert{
		width: 1280px;
		margin-left: -260px;
		margin-top: 2rem;
		margin-bottom: 4rem;
	    }	
	}
    }
}
