.layout-references{
        // header{
	// padding: 1rem;
	// width: 80vw;
	// flex-direction: row;

	// margin-left: 12rem;

	// dropdown des filtres de catégorie
	.filters{
	    position: relative;
	    background-color: var(--dark);
	    // width: 25vw;

	    // on cache le select initial
	    select#fields{
		display: none;
	    }
	    .select-selected {
		border: 1px solid rgba(255,255,255,.25);
		padding: .875rem 1rem;
		cursor: pointer;
		background: url(/assets/images/chevron-down.svg) no-repeat var(--dark);
		background-position: right;
		@include transition(all, 0.15s, ease-in-out);

		&:hover{
		    background: url(/assets/images/chevron-down-dark.svg) no-repeat var(--yellow);
		    background-position: right;
		    color: var(--dark);
		}

		&.select-arrow-active{
		    @include transition(all, 0.15s, ease-in-out);
		    background: url(/assets/images/chevron-up-dark.svg) no-repeat var(--yellow);
		    color: var(--dark);

		    background-position: right;
		}
	    }


	    
	    /* style the items (options), including the selected item: */
	    // .select-items div,.select-selected {
	    
	    // }

	    /* Style items (options): */

	    .select-items {
		position: absolute;
		background-color: var(--dark);
		top: 102%;
		padding: .75rem 0;
		left: 0;
		right: 0;
		z-index: 99;
		@include transition(all, 0.15s, ease-in-out);

		opacity: 1;
		pointer-events: auto;

		div{
		    @include transition(all, 0.15s, ease-in-out);
		    padding: 0.5rem 1rem;
		    color: #ffffff;
		    border: 1px solid var(--light);
		    background-color: var(--dark);
		    // padding: .875rem 1rem;
		    border: 1px solid var(--light);
		    border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
		    cursor: pointer;
		    
		    &:hover{
			// background-color: var(--dark-l);
			color: var(--yellow);
		    }
		    &.same-as-selected {
			color: var(--yellow);
		    }
		}
		
		/* Hide the items when the select box is closed: */
		&.select-hide {
		    @include transition(all, 0.15s, ease-in-out);
		    opacity: 0;
		    pointer-events: none;
		}
	    }
	    
	}
	.filters-actions{
	    width: 25vw;
	    // padding: 8px 14px;
	    // margin-left: 1rem;
	    
	    #filters-actions--reset{
		cursor: pointer;
		@include transition(all, 0.35s, cubic-bezier(.35,0,.17,1));
		
		&:hover{
		    color: var(--yellow);
		}
		&.visible{
		    opacity: 1;
		    cursor: pointer;
		}
		&.hidden{
		    opacity: 0;
		    cursor: default;
		}
	    }
	    
	}
    
    
    table{
	tr{
	    border-bottom: 1px solid var(--dark-l);
	    td{
		vertical-align: middle;
		img{
		    filter: contrast(175%) brightness(300%);
		    margin: 0 !important;
		height: 96px !important;
		width: 96px !important;
		}
	    }
	}
    }
}
