@media (max-width: 575px) {
    html,body{
	overflow-x: hidden;
    }
    .layout-home{
	.intro{
	    margin-left: 0;

	    .more{
		margin-left: 0;
		bottom: 32px;
	    }
	    .intro--content{
		margin: auto 0 auto 0;

		a{
		    .hello{
			font-size: 64px;
			line-height: 2.65rem;
			// margin-right: 32px;
		    }
		    .sentence{
			font-size: 22px;
		    }
		}

		
	    }
	    .details{
		right: 32px;
		opacity: 0;
	    }
	    .overlay{
		opacity: 0.75;
	    }
	    .more{
		left: calc(50vw - 15px);

		// @keyframes moreContent {
		//     0% {
		// 	bottom: 64px;
		//     }
		//     50% {
		// 	bottom: 96px;
		//     }
		//     100% {
		// 	bottom: 64px;
		//     }
		// }
	    }
	}
	.container{
	    padding: 0;

	    .content{
		padding: 48px 24px;

		img{
		    display: none;
		}

		#mosaique{
		    margin-left: -24px;
		}
	    }
	}
	
    }
    .layout-project, .layout-article, .layout-references, .layout-page{
	article{
	    margin-left: 16px;
	    margin-right: 56px;
	}
    }

    // menu
    #site-menu{
	background: rgba(0,0,0,0);
	
	.header{
	    position: fixed;
	    right: 24px;
	    
	    .ico{
		color: #666;
		font-size: 2rem;
		right: 0px;
		top: -8px;
	    }
	}

	&.visible{
	    background: #0b090a;
	    width: 100%;

	    .header{
		background:none;
	    }

	}
    }
}
// réglages mobile en mode portrait
@media (max-height: 480px) {
    #site-menu{
	.menu-main{
	    .menu{
		hr{
		    margin: 0.25rem 0 !important;
		}
	    }
	    
	    footer{
		display: none;
	    }
	}
    }
}
