
// The zero
@media (max-width: 767px) {
    // .layout-home .intro .intro--content a{
    // 	width: 100vw;
    // }
    html,body{
	      overflow-x: hidden;
    }
    html,body{
	      overflow-x: hidden;
    }
    h1{font-size: 2.5rem; line-height: 2.75rem;}
    h2{font-size: 2rem;}
    h3{font-size: 1.8rem;}
    h4{font-size: 1.6rem;}
    h5{font-size: 1.2rem;}
    h6{font-size: 1rem;}

    .layout-home .intro .intro--content a{
	      width: 100vw;
    }
    #sentence-mobile{
	      display: block;
    }
    #sentence-desktop{
	      display: none;
    }

    #site-menu--mobile-trigger{
        display: none;
    }
    .container{
	      padding-left: 24px;
	      padding-right: 24px;
    }
    .layout-home{
	      .intro{
	          margin-left: 0;

	          .more{
		            margin-left: 0;
		            bottom: 32px;
	          }
	          .intro--content{
		            margin: auto 0 auto 0;

		            #intro-presentation{
		                width: 90vw;
		                padding-left: 32px;

		                .highlighterWrapper{
			                  display: none;
		                }
		                .sentence{
			                  p{
			                      font-size: 1.75rem;
			                      line-height: 2.25rem;
			                      margin-bottom: 2rem;
			                  }

		                }
		            }
	          }
	          .details{
		            right: 32px;
		            opacity: 0;
	          }
	          .overlay{
		            opacity: 0.75;
	          }
	          .more{
		            left: calc(50vw - 15px);

	          }
	      }
	      .container{
	          padding: 0;

	          .content{
		            padding: 48px 24px;

		            img{
		                display: none;
		            }

		            #mosaique{
		                margin-left: 0;

		                ul{
			                  li{
			                      width: 100% !important;
			                  }
		                }
		            }
	          }
	      }	
    }
    .layout-project, .layout-article, .layout-references, .layout-page{
	      article{
	          margin-left: 16px;
	          margin-right: 56px;
	          // margin-top: 1.5rem;

	          blockquote{
		            margin: 3rem 0;    
	          }
	      }
    }
    .layout-projects{
	      #mosaique{
	          header{
		            margin-top: 3rem;
		            margin-left: 0;
	          }   
	      }
    }
#site-nav{
    display: none;
    
}
    #site-menu--mobile-trigger{
        display: block;
    }

    a#logo{
	      top: 24px;
        position: fixed;
        left: 0;
        right: 0;
        margin: 0 auto;
    }

    .layout-project{
	      article{
	          img, video, .vimeo-insert{
		            width: 150%;
		            margin-left: -25%;
		            margin-top: 2rem;
		            margin-bottom: 4rem;
	          }
	          .post-nav{
		            visibility: hidden;
	          }
	      }
    }
    ul#markdown-toc{
	      display: none;
    } 
}

// // Small devices (landscape phones, 576px and up)
// @media (min-width: 576px) and (max-width: 767px) {
//     #site-menu--mobile-trigger{
//         display: none;
//     }
//     #sentence-mobile{
// 	      display: none;
//     }
//     #sentence-desktop{
// 	      display: block;
//     }
//     .layout-project{
// 	      article{
// 	          img, video, .vimeo-insert{
// 		            width: 150%;
// 		            margin-left: -25%;
// 		            margin-top: 2rem;
// 		            margin-bottom: 4rem;
// 	          }
// 	          .post-nav{
// 		            visibility: visible;
// 	          }
// 	      }
//     }
//     ul#markdown-toc{
// 	      display: none;
//     } 
// }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991px) {
    #site-menu--mobile-trigger{
        display: none;
    }
    #sentence-mobile{
	      display: none;
    }
    #sentence-desktop{
	      display: block;
    }
    .layout-project{
	      article{
	          img, video, .vimeo-insert{
		            width: 100%;
		            margin-left: 0;
		            margin-top: 2rem;
		            margin-bottom: 4rem;
	          }	
	      }
    }
    ul#markdown-toc{
	      display: none;
    } 
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1279px) {
    #site-menu--mobile-trigger{
        display: none;
    }
    #sentence-mobile{
	      display: none;
    }
    #sentence-desktop{
	      display: block;
    }
    .layout-home{
	      .intro{
	          .intro--content{
		            a{
		                width: 50vw;
		            }
	          }
	      }
    }
    ul#markdown-toc{
	      display: none;
    } 
    .layout-project{
	      article{
	          img, video, .vimeo-insert{
		            width: 1280px;
		            margin-left: -335px;
		            margin-top: 2rem;
		            margin-bottom: 4rem;
	          }	
	      }
    }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1280px)  {
    #site-menu--mobile-trigger{
        display: none;
    }
    #sentence-mobile{
	      display: none;
    }
    #sentence-desktop{
	      display: block;
    }
    .layout-home{
	      .intro{
	          .intro--content{
		            a{
		                width: 50vw;
		            }
	          }
	      }
    }
    .layout-project{
	      article{
	          img, video, .vimeo-insert{
		            width: 1280px;
		            margin-left: -260px;
		            margin-top: 2rem;
		            margin-bottom: 4rem;
	          }	
	      }
    }
    ul#markdown-toc{
	      display: block;
    } 
}
