@font-face {
    font-family: nitti;
    font-style: normal;
    font-weight: 500;
    src:url("fonts/NittiGrotesk-Normal.otf") format("opentype");
}
@font-face {
    font-family: nitti;
    font-style: italic;
    font-weight: 500;
    src:url("fonts/NittiGrotesk-NormalItalic.otf") format("opentype");
}
@font-face {
    font-family: nitti;
    font-style: normal;
    font-weight: 700;
    src:url("fonts/NittiGrotesk-Bold.otf") format("opentype");
}
@font-face {
    font-family: nitti-mono;
    font-style: normal;
    font-weight: 500;
    src:url("fonts/NittiBasic-Normal.otf") format("opentype");
}
