@import "mixins";

.projects, .articles{ /* home = projets */
    padding: 1.2rem;
}

// .grid-item, .grid-sizer { width: 20%; }

@include media-breakpoint-up(sm) {
    .grid-item, .grid-sizer { width: 100%; }
    .grid-item--width2 {      width: 100%; }
}
@include media-breakpoint-up(sm) {
    .grid-item, .grid-sizer { width: 50%; }
    .grid-item--width2 {      width: 50%; }
}
@include media-breakpoint-up(md) {
    .grid-item, .grid-sizer { width: 33.3333%; }
    .grid-item--width2 {      width: 33.3333%; }
}
@include media-breakpoint-up(lg) {
    .grid-item, .grid-sizer { width: 25%; }
    .grid-item--width2 {      width: 50%; }
}
@include media-breakpoint-up(xl) {
    .grid-item, .grid-sizer { width: 20%; }
    .grid-item--width2 {      width: 40%; }
}

@media (min-width: 1921px) {
    .grid-item, .grid-sizer { width: 16.667%; }
    .grid-item--width2 {      width: 33.334%; }
}
@media (min-width: 2048px) {
    .grid-item, .grid-sizer { width: 14.2857%;}
    .grid-item--width2 {      width: 28.5714%; }

}

.grid-item {

    a.card{
	@include transition(all, 0.2s, ease-out);
	color: inherit;

	
	img{
            opacity: 1;
	}

	border: 0;
	margin-bottom: 1.5rem;
	margin-right: 1rem;
	overflow: hidden;

	.text-muted{
	    color: rgba(0,0,0,0.5) !important;
	}
	
	.card-cover{
	    height: 160px;
	    background-size: cover;
	    background-position-x: center;
	    background-position-y: center;

	    transform: scale(1.2) translateY(-16px);
	}

	p{
	    line-height: 1.6rem;
	}

	h6{
	    font-size: 1.125rem;
	    line-height: 1.4rem;
	}

	// transition: all 0.2s ease-out;

	&:hover{
            text-decoration: none;
            color: #FFF;
            background: var(--primary);
            // opacity: 0.5;

            .card-cover{
		opacity: 0.5;
            }

	    .text-muted{
		color: rgba(255,255,255,0.5) !important;
	    }
	}
    }
    // column-count: 6;
}
.container--home{
    padding: 2rem;
}


// exception items de portfolio
.projects{
    .grid-item{
	a.card{
	    .card-cover{
		height: 320px;
		transform: scale(1.05) translateY(-16px);
	    }
	}
    }
}

