@import "mixins";

@include media-breakpoint-up(xs) {
    nav.mobile{ display: flex;}
    nav.desktop{ display: none;}
}
@include media-breakpoint-up(sm) {
    nav.mobile{ display: flex;}
    nav.desktop{ display: none;}
}
@include media-breakpoint-up(md) {
    nav.mobile{ display: none;}
    nav.desktop{ display: flex;}
}
@include media-breakpoint-up(lg) {
    nav.mobile{ display: none;}
    nav.desktop{ display: flex;}
}
@include media-breakpoint-up(xl) {
    nav.mobile{ display: none;}
    nav.desktop{ display: flex;}
}
// @media (min-width: 1921px) {
// }
// @media (min-width: 2048px) {
// }


.site-header{
    .navbar{
	font-family: var(--font-family-sans);
	// margin-top: 1.2rem;
	background-color: none;
	position: fixed;
	top: 1rem;
	// display: flex;
	flex-direction: row;

	.logo{
	    //
	}

	a{
	    color: var(--dark);
	    border-bottom: 1px solid var(--dark);
	}

	a.access-link{
	    @include transition(all, 0.2s, ease-out);
	    color: rgba(0, 0, 0, 0.7);
	    padding: 0.5rem;
	    margin-right: 0.75rem;
	    &:hover{
		// opacity: 0.5;
		color: rgb(209, 178, 0);
		text-decoration: none;
		
	    }
	}
	// modifications de couleurs quand c'est noir.
	&.navbar-dark{
	    .navigation{
		ul.items{
		    li.nav-item{
			a.nav-link{
			    @include transition(all, 0.2s, ease-out);
			    color: rgba(255,255,255, 0.7);	
			    &:hover{
				opacity: 0.5;    
			    }
			}

		    }
		}
	    }
	}
    }

    nav.mobile{
	.toggler{
	    z-index: 999;
	    border: none;
	    background: none;
	    position: absolute;
	    font-size: 24px;
	}
	.logo{
	    width: 100%;
	    z-index: 999;
	    img{
		margin: 0 auto;
		display: block;
	    }
	}
	.navigation{
	    // display: none;
	    position: fixed;
	    z-index: 998;
	    top: 0;
	    left:0;
	    width: 100%;
	    height: 100%;
	    background-color: var(--light);
	    opacity: 0;
	    visibility: hidden;

	    @include transition(all, 0.2s, ease-out);

	    ul.items{
		//
		display: flex;
		flex-direction: column;
		margin-bottom: 0;
		width: 100%;
		padding-left: 0;
		margin-top: 4.5rem;
		
		li.nav-item{
		    //
		    list-style-type: none;
		    border-bottom: 1px solid rgba(0, 0, 0, 0.1);

		    a.nav-link,
		    a.access-link{
			display: block;
			@include transition(all, 0.2s, ease-out);
			color: rgba(0, 0, 0, 0.7);
			text-align: center;
			padding: 1.5rem 0;
			font-size: 1.125rem;
			
			&:hover{
			    // opacity: 0.5;   
			}
			&:active{
			    background-color: var(--blue);
			    color: white;
			}
		    }

		    &.active{
			a.nav-link{
			    color: var(--blue);
			}
		    }
		}
	    }

	    &.visible{
		// display:flex;
		visibility: visible;
		opacity: 1;
	    }
	}
    }
}
