article{

    header{

    }
    .page-header{
	height: auto;
	h1.page-title{
	    color: var(--dark);
	    margin-top: 4rem;
	    margin-bottom: 3rem;
	    font-size: 2.5rem;

	    .subtitle{
		opacity: 0.75;
	    }
	}
	p.page-meta{
	    color: var(--gray);
	}
	// on définit cette hauteur en js, dynamiquement
	// height: 416px;
    }
    .page-content{
	margin-bottom: 4rem;
	
	iframe{
	    margin: 0 auto 2rem auto;
	}
	// img{
	//     width: 150%;
	// }
	
	.highlighter-rouge{
	    // padding: 0.75rem 1.25rem;
	    background: rgba(0,0,0,0.025);
	    margin-bottom: 1rem;
	    
	    pre{
		padding: 0.75rem 1.25rem;
		margin: 0;

		code{
		    font-size: 1rem;
		    line-height: 1.4rem;
		}
	    }
	}

    }
    blockquote{
	border-left: 4px solid var(--gray);
	p{
	    margin-left: 2rem;
	    font-style: italic;
	    color: var(--gray);
	}
    }
    .small{
	margin-bottom: 2rem;
    }
}

.layout-home{
    h3:first-child{
	margin-bottom: 3rem;
    }
}
// exceptions
.layout-project{
    article{
	img, video{
	    width: 150%;
	    margin-left: -176px;
	    margin-top: 2rem;
	    margin-bottom: 4rem;
	}
	
    }
}
.layout-article{
    article{
	img{
	    width: 100%;
	    // margin-left: -176px;
	    // margin-bottom: 4rem;
	}
    }

}

// references
table{
    tr{
	td{
	    img{
		margin: 0 !important;
		height: 96px !important;
		width: 96px !important;
	    }
	    &:nth-child(1),
	    &:nth-child(2){
		color: #707374;
	    }
	}
    }
}
