article{
    margin-left: 56px;
    header{

    }
    .page-header{
	height: auto;
	h1.page-title{
	    color: var(--dark);
	    margin-top: 4rem;
	    margin-bottom: 3rem;
	    font-size: 2.5rem;

	    .subtitle{
		opacity: 0.75;
	    }
	}
	p.page-meta{
	    color: var(--gray);
	}
	// on définit cette hauteur en js, dynamiquement
	// height: 416px;
    }
    .page-content{
	margin-bottom: 4rem;
	
	iframe{
	    margin: 0 auto 2rem auto;
	}
	// img{
	//     width: 150%;
	// }
	
	.highlighter-rouge{
	    // padding: 0.75rem 1.25rem;
	    background: rgba(0,0,0,0.025);
	    margin-bottom: 1rem;
	    
	    pre{
		padding: 0.75rem 1.25rem;
		margin: 0;

		code{
		    font-size: 1rem;
		    line-height: 1.4rem;
		}
	    }
	}

    }
    .post-nav{
	position: fixed;
	top: 0;
	width: 100vw;
	height: 100vh;
	pointer-events: none;
	z-index: 998;
	
	.post-nav-item{
	    pointer-events: auto;
	    position: absolute;
	    height: 100%;
	    display: flex;
	    flex-direction: column;
	    justify-content: center;
	    width: 128px;
	    opacity: 0;
	    background: rgba(0,0,0,0.15);
	    transition: all 0.25s ease-out;

	    a{
		height: 100%;
		display: block;
		display: flex;
		flex-direction: column;
		justify-content: center;
		text-align: center;
		text-decoration: none !important;

		&:hover{
		    background: rgba(0,0,0,0.15);
		    
		}
	    }

	    &.post-nav--prev{
		left: 0;
		// opacity: 0;
	    }
	    &.post-nav--next{
		right: 56px;
	    }

	    &:hover{
		width: 208px;
		opacity: 1;
		transition: all 0.25s ease-in;
	    }
	}
    }
    blockquote{
	border-left: 4px solid var(--gray);
	p{
	    margin-left: 2rem;
	    font-style: italic;
	    color: var(--gray);
	}
    }
    .small{
	margin-bottom: 2rem;
    }
}

.layout-home{
    h3:first-child{
	margin-bottom: 3rem;
    }
}
// exceptions
.layout-project{
    article{
	img, video{
	    width: 1280px;
	    margin-left: -176px;
	    margin-top: 2rem;
	    margin-bottom: 4rem;
	}
	
    }
}
.layout-article{
    article{
	img{
	    width: 100%;
	    // margin-left: -176px;
	    // margin-bottom: 4rem;
	}
    }

}

// references
table{
    tr{
	td{
	    img{
		margin: 0 !important;
		height: 96px !important;
		width: 96px !important;
	    }
	    &:nth-child(1),
	    &:nth-child(2){
		color: #707374;
	    }
	}
    }
}
