article{

  .post-cover{
    width: 100%;
    height: 480px;
    position: absolute;
    z-index: -2;
    left: 0;
    top: 0;
    background-color: #000;

    &.no-image{
      height: auto;
    }

    .post-cover-image{
      opacity: 0.45;
      width: 100%;
      height: 100%;
      background-size: cover;
      background-position: center;
    }
  }

  header{

  }
  .post-header{
    h1.post-title{
      color: var(--white);
      margin-top: 4rem;
      font-size: 3.50rem;
    }
    p.post-meta{
      color: var(--white);
    }

    height: 480px;

    &.no-cover{
      height: auto;

      h1.post-title{
        color: var(--dark);
     }
      p.post-meta{
        color: var(--gray);
      }
    }
  }
  .post-content{
    // position: absolute;
      margin-top: 2rem;
      margin-bottom: 4rem;
    iframe{
      margin: 0 auto 2rem auto;
    }

    p, pre code, ul li, ol li{
      font-size: 1.2rem;
      line-height: 2rem;
    }
    h1{font-size: 3rem;}
    h2{font-size: 2.4rem;}
    h3{font-size: 2.1rem;}
    h4{font-size: 1.8rem;}
    h5{font-size: 1.5rem;}
    h6{font-size: 1.2rem;}

    img{
      width: 100%;
    }
    blockquote{
      border-left: 4px solid var(--gray);
      p{
        margin-left: 2rem;
        font-style: italic;
        color: var(--gray);
      }
    }
    .small{
	margin-bottom: 2rem;
    }
  }
}
