---
layout: category
title: Articles
---

<div class="articles">

  <div class="container-fluid">
    <div class="grid">
      <div class="grid-sizer"></div>
      
      {% if site.articles.size > 0 %}

      {% for article in site.articles reversed %} 
      <div class="grid-item">
	<a class="card" href="{{ article.url | relative_url }}">
	  {% if article.cover %}
	  <div class="card-cover" style="background-image: url({{site.path_articles_thumbs}}{{ article.cover }})"></div>
	  {% endif %}
	  <div class="card-body">
	    <h6 class="card-title">{{ article.title }}</h6>
	    <p class="card-text">{{ article.excerpt | remove: '<p>' | remove: '</p>' }}...</p>
	    <p class="card-text">
	      <small class="text-muted">Le {{ article.date | date: "%d/%m/%Y" }}</small>
	    </p>
	  </div>
	</a>
      </div>
      {% endfor %}

      {% endif %}
    </div>
  </div>
</div>
