<div class="container-fluid footer">

    <div class="row">
        <div class="col-md-4"><p class="muted"> {{site.data.strings.strings[page.lang].footer-message.content }}</p></div>
        {% for item in site.data.nav.links[page.lang] %}
        <div class="col-md-2">
            <a class="menu-item" href="{{ item[1].url | relative_url }}">
	              {{ item[1].name }}
            </a>
        </div>
        {% endfor %}
        <div class="col-md-2">
            <div id="wcb" class="carbonbadge"></div>
            <!-- <script src="https://unpkg.com/website-carbon-badges@1.1.3/b.min.js" defer></script> -->
        </div>
    </div>
</div>

