<div class="home-container container-fluid" id="presentation">
  <div class="container">
    <h3 id="projets">Projets</h3>
    <div class="row" id="projects-promoted">

      {% for p in site.projects %}
      {% if p.promoted == true %}
      <div class="col-lg">
	<a href="{{p.permalink | relative}}" class="card">
	    <div class="card--thumb" style="background-image: url({{p.project_thumbnail}});"></div>
	    <div class="card--title">{{p.title | escape}}</div>
	    <div class="card--client">{{p.client | escape}}</div>
	</a>
      </div>
      {% endif %}
      {% endfor %}

      <div class="col-lg">
	<a href="/projets" class="card--more">
	    <i class="ico ico-large" id="menu-ico">plus</i>
	    <p>Plus de projets</p>
	</a>
      </div>
      
    </div>
  </div>

</div>
<div class="home-container container">
  <div class="row">
    <div class="col-lg-8 offset-lg-2">
      <div class="content" id="hello">
        <h3 id="articles">Articles</h3>
        <p>Quelques réflexions, sur le design et d’autres sujets.</p>
	<ul>
	  {% for article in site.articles reversed %}
	  <li><a href="{{ article.url | relative_url }}">{{ article.title }}</a><sup>{{ article.date | date: "%d/%m/%Y" }}</sup></li>
	  {% endfor %}
	</ul>
	<h3>
	  Documentation
	</h3>
	<p>Des ressources sur des sujets techniques</p>
	<ul>
	  {% for doc in site.docs %}
	  <li><a href="{{ doc.url | relative_url }}">{{ doc.title }}</a></li>
          {% endfor %}
	</ul>
	<a type="button" class="btn btn-outline-primary" href="/docs">Voir toutes les ressources</a>
      </div>
    </div>
  </div>
</div>
