<div class="intro">
  <div class="slides">
    <div class="slide hidden" id="slide-1"></div>
    <div class="slide hidden" id="slide-2"></div>
    <div class="slide hidden" id="slide-3"></div>
    <div class="slide hidden" id="slide-4"></div>
    <div class="slide hidden" id="slide-5"></div>
    <div class="slide hidden" id="slide-6"></div>
  </div>
  <div class="overlay"></div>
  <div class="intro--content">
    <a href="{{site.url}}/projets" id="intro-presentation">
      <div class="sentence">
	<p class="strong">Bonjour,&nbsp;je&nbsp;suis&nbsp;Thomas&nbsp;Guesnon.</p>
	<p>Je&nbsp;suis&nbsp;designer,&nbsp;et&nbsp;je&nbsp;conçois&nbsp;des&nbsp;outils</p>
	<p>et&nbsp;des&nbsp;services&nbsp;numériques.</p>
	<p>Je&nbsp;m'occupe&nbsp;d'interaction,&nbsp;de&nbsp;mouvement</p>
	<p>&nbsp;et&nbsp;d'expérience&nbsp;utilisateur.</p>
      </div>

      <div id="highlighterIntro" class="highlighterWrapper">
	<div class="highlighter" id="highlighter-1"></div>
      	<div class="highlighter" id="highlighter-2"></div>
	<div class="highlighter" id="highlighter-3"></div>
	<div class="highlighter" id="highlighter-4"></div>
	<div class="highlighter" id="highlighter-5"></div>
      </div>
      <div id="highlighterHover" class="highlighterWrapper">
	<div class="highlighter" id="highlighter-1"></div>
      	<div class="highlighter" id="highlighter-2"></div>
	<div class="highlighter" id="highlighter-3"></div>
	<div class="highlighter" id="highlighter-4"></div>
	<div class="highlighter" id="highlighter-5"></div>
      </div>
      <!-- <canvas id="bubblesAnimation"></canvas> -->
    </a>
    <!-- <a href="{{site.url}}/about" id="intro-link">En savoir plus</a> -->
  </div>
  <div class="more"><i class="ico ico-large">chevron_down</i></div>
  <div class="details">
    <p class="slide-details hidden" id="slide-details-1"><em>User journey</em>, illustrations</p>
    <p class="slide-details hidden" id="slide-details-2"><em>Pajeweic</em>, un jeu d'icones <em>pixel-perfect</em> pour interfaces graphiques</p>
    <p class="slide-details hidden" id="slide-details-3">Application de météo aérienne</p>
    <p class="slide-details hidden" id="slide-details-4"><em>Madon</em>, une police de caractères conçue pour les interfaces graphiques</p>
    <p class="slide-details hidden" id="slide-details-5"><em>Hug</em>, application <em>responsive</em> de domotique</p>
    <p class="slide-details hidden" id="slide-details-6"><em>Design system</em> pour TopWings, un EFB (sacoche de vol électronique)</p>
  </div>
</div>
