<div class="intro">

    <!-- Slides on desktop -->
    <div class="slides slides--desktop">
        <div class="slide" id="slide-1">
            <div class="slide--image"></div>
            <p class="slide--title">Interaction & expérience utilisateur</p>
            <div class="slide--details hidden">
                <h3 class="title">Interaction & expérience utilisateur</h3>
                <p class="description"></p>
            </div>
        </div>
        <div class="slide" id="slide-2">
            <div class="slide--image"></div>
            <p class="slide--title">Design d'information & cartographie</p>
            <div class="slide--details hidden">
                <h3 class="title">Design d'information & cartographie</h3>
                <p class="description"></p>
            </div>
        </div>
        <div class="slide" id="slide-3">
            <div class="slide--image"></div>
            <p class="slide--title">Sites web & application</p>
            <div class="slide--details hidden">
                <h3 class="title">Sites web & application</h3>
                <p class="description"></p>
            </div>
        </div>
        <div class="slide" id="slide-4">
            <div class="slide--image"></div>
            <p class="slide--title">Motion & 3D</p>
            <div class="slide--details hidden">
                <h3 class="title">Motion & 3D</h3>
                <p class="description"></p>
            </div>
        </div>

        <div class="separator" id="separator-1"></div>
        <div class="separator" id="separator-2"></div>
        <div class="separator" id="separator-3"></div>
    </div>

    <!-- Slides on mobile -->
    <div class="slides slides--mobile">
        <div class="slide" id="slide-1">
            <div class="slide--image-mobile"></div>
        </div>
        <div class="slide" id="slide-2">
            <div class="slide--image-mobile"></div>
        </div>
        <div class="slide" id="slide-3">
            <div class="slide--image-mobile"></div>
        </div>
        <div class="slide" id="slide-4">
            <div class="slide--image-mobile"></div>
        </div>
    </div>

    <!-- Intro sentence (i'm a designer) -->
    <div class="intro--content" id="intro--heading">
        <a href="{{site.url}}/{{ page.lang }}/work" id="intro-presentation">
            <div class="sentence">
                {{content}}
            </div>
        </a>
    </div>
</div>
</div>