<div class="intro">
  <div class="slides">
    <div class="slide hidden" id="slide-1"><img class="slide--element" src="/assets/images/intro-1.jpg"/></div>
    <!-- <div class="slide hidden" id="slide-2"><img class="slide--element" src="/assets/images/intro-2.jpg"/></div> -->
    <div class="slide hidden" id="slide-2"><img class="slide--element" src="/assets/images/intro-3.jpg"/></div>
    <!-- <div class="slide hidden" id="slide-4"><img class="slide--element" src="/assets/images/intro-4.jpg"/></div> -->
    <div class="slide hidden" id="slide-3"><img class="slide--element" src="/assets/images/intro-5.jpg"/></div>
    <div class="slide hidden" id="slide-4"><img class="slide--element" src="/assets/images/intro-6.jpg"/></div>
    <div class="slide hidden" id="slide-5"><video class="slide--element" loop autoplay muted><source src="/assets/images/intro-7.mp4" type="video/mp4"/></video></div>
  </div>
  <div class="overlay"></div>
  <div class="intro--content">
    <a href="{{site.url}}/projets" id="intro-presentation">
      <div class="sentence" id="sentence-desktop">
	<p class="strong">Thomas&nbsp;Guesnon&nbsp;est&nbsp;designer.</p>
	<p>Il&nbsp;conçoit&nbsp;des&nbsp;applications</p>
	<p>et&nbsp;des&nbsp;animations.</p>
	<p>Il&nbsp;s'occupe&nbsp;d'interaction,&nbsp;de&nbsp;mouvement</p>
	<p>et&nbsp;d'expérience&nbsp;utilisateur.</p>
      </div>

      <div class="sentence" id="sentence-mobile">
	<p><strong>Thomas Guesnon est designer.</strong> Il conçoit des applications et des vidéos.</p>
	<p>Il s'occupe d'interaction, de mouvement et d'expérience utilisateur.</p>
      </div>

      <div id="highlighterIntro" class="highlighterWrapper">
	<div class="highlighter" id="highlighter-1"></div>
      	<div class="highlighter" id="highlighter-2"></div>
	<div class="highlighter" id="highlighter-3"></div>
	<div class="highlighter" id="highlighter-4"></div>
	<div class="highlighter" id="highlighter-5"></div>
      </div>
      <div id="highlighterHover" class="highlighterWrapper">
	<div class="highlighter" id="highlighter-1"></div>
      	<div class="highlighter" id="highlighter-2"></div>
	<div class="highlighter" id="highlighter-3"></div>
	<div class="highlighter" id="highlighter-4"></div>
	<div class="highlighter" id="highlighter-5"></div>
      </div>
      <!-- <canvas id="bubblesAnimation"></canvas> -->
    </a>
    <!-- <a href="{{site.url}}/about" id="intro-link">En savoir plus</a> -->
  </div>
  <div class="more"><i class="ico ico-large">chevron_down</i></div>
  <div class="details">
    <p class="slide-details hidden" id="slide-details-1"><em>User journey</em>, illustrations</p>
    <!-- <p class="slide-details hidden" id="slide-details-2"><em>Pajeweic</em>, un jeu d'icones <em>pixel-perfect</em> pour interfaces graphiques</p> -->
    <p class="slide-details hidden" id="slide-details-2">Application de météo aérienne</p>
    <!-- <p class="slide-details hidden" id="slide-details-4"><em>Madon</em>, une police de caractères conçue pour les interfaces graphiques</p> -->
    <p class="slide-details hidden" id="slide-details-3"><em>Hug</em>, application <em>responsive</em> de domotique</p>
    <p class="slide-details hidden" id="slide-details-4"><em>Design system</em> pour TopWings, un EFB (sacoche de vol électronique)</p>
    <p class="slide-details hidden" id="slide-details-5">Extraits de films d'animation'</p>
  </div>
</div>
