<div class="intro">
  <div class="slides">
    <div class="slide hidden" id="slide-1"></div>
    <div class="slide hidden" id="slide-2"></div>
    <div class="slide hidden" id="slide-3"></div>
    <div class="slide hidden" id="slide-4"></div>
    <div class="slide hidden" id="slide-5"></div>
    <div class="slide hidden" id="slide-6"></div>
  </div>
  <div class="overlay"></div>
  <div class="intro--content">
    <h1><a href="#hello">Hello. <br/>Je suis Thomas Guesnon, designer.</a><span class="small"><span class="hash">#</span>ui <span class="hash">#</span>ux <span class="hash">#</span>motion</span></h1>
    <p><a href="#hello">En savoir plus</a></p>
  </div>
  <div class="more"><i class="ico ico-large">chevron_down</i></div>
  <div class="details">
    <p class="slide-details hidden" id="slide-details-1"><em>User journey</em>, illustrations</p>
    <p class="slide-details hidden" id="slide-details-2"><em>Pajeweic</em>, un jeu d'icones <em>pixel-perfect</em> pour interfaces graphiques</p>
    <p class="slide-details hidden" id="slide-details-3">Application de météo aérienne</p>
    <p class="slide-details hidden" id="slide-details-4"><em>Madon</em>, une police de caractères conçue pour les interfaces graphiques</p>
    <p class="slide-details hidden" id="slide-details-5"><em>Hug</em>, application <em>responsive</em> de domotique</p>
    <p class="slide-details hidden" id="slide-details-6"><em>Design system</em> pour TopWings, un EFB (sacoche de vol électronique)</p>
  </div>
</div>
