<div class="header">
  <i class="ico ico-large" id="menu-ico">menu</i>
  <i class="ico ico-large" id="close-ico">cross</i>
</div>
<div class="menu-main">
  <ul class="menu">
    <li><a href="{{site.url}}">Home</a></li>
    <li><a href="{{site.url}}/projets">Projets</a></li>
    <li><a href="{{site.url}}/about">À propos</a></li>
    <li><a href="{{site.url}}/references">Références</a></li>
    <li><a href="{{site.url}}/contact">Contact</a></li>
    <hr/>
    <li><a href="https://client.thomasguesnon.net/login">Accès client <i class="ico ico-medium">external_link</i></a></li>
  </ul>
  <footer>
    <ul>
      <li><p class="made-by"><img class="cc" src="/assets/images/logo/cc-by.svg" width="18" title="Creative Commons : Attribution"/><img class="cc" src="/assets/images/logo/cc-nc.svg" width="18" title="Creative Commons : Non commercial"/><img class="cc" src="/assets/images/logo/cc-sa.svg" width="18"title="Creative Commons : Share alike"/><br/>&nbsp;Thomas Guesnon, 2019</p></li>
    </ul>
    
  </footer>
</div>
</div>
