<div class="container-fluid">
  
  {% if page.cover %}
  <nav class="navbar navbar-dark desktop">
    <a class="logo" href="{{ "" | absolute_url }}">
      <img src="/assets/images/logo/eye_logo_light.svg" alt="" width="30" height="30">
      {% else %}
      <nav class="navbar desktop">
	<a class="logo ref" href="{{ "/" | absolute_url }}">
	  <img src="/assets/images/logo/eye_logo_dark.svg" alt="" width="30" height="30">
	  {% endif %}
	</a>
	<div class="navigation">
	  <ul class="items">
            {% for item in site.data.nav.toc %}
	    <!-- <h4>{{ item.title }}</h4> -->
            
            {% for node in item.pages %}
	    {% if page.url == node.url %}
	    <li class="nav-item active"><a href="{{node.url | relative_url}}" class="nav-link active">{{node.title}}</a></li>
	    {% else %}
	    <li class="nav-item"><a href="{{node.url | relative_url}}" class="nav-link">{{node.title}}</a></li>
	    {% endif %}
            <!-- <li class="nav-item"><a href="{{ "" | relative_url }}{{ entry.url }}" class="nav-link" >{{ entry.title }}</a></li> -->
            {% endfor %}
	    {% endfor %}
	  </ul>
	</div>
      </nav>

      <!-- mobile nav -->
  {% if page.cover %}
  <nav class="navbar navbar-dark mobile">
    <a class="logo" href="{{ "" | absolute_url }}">
      <img src="/assets/images/logo/eye_logo_light.svg" alt="" width="30" height="30">
      {% else %}
      <nav class="navbar mobile">
	<a class="logo" href="{{ "" | absolute_url }}">
	  <img src="/assets/images/logo/eye_logo_dark.svg" alt="" width="30" height="30">
	  {% endif %}
	</a>
	<button class="toggler" value="show nav"><i class="ico">menu</i></button>
	<div class="navigation">
	  <ul class="items">
            {% for item in site.data.nav.toc %}
	    <!-- <h4>{{ item.title }}</h4> -->
            
            {% for node in item.pages %}
	    {% if page.url == node.url %}
	    <li class="nav-item active"><a href="{{node.url | relative_url}}" class="nav-link active">{{node.title}}</a></li>
	    {% else %}
	    <li class="nav-item"><a href="{{node.url | relative_url}}" class="nav-link">{{node.title}}</a></li>
	    {% endif %}
            <!-- <li class="nav-item"><a href="{{ "" | relative_url }}{{ entry.url }}" class="nav-link" >{{ entry.title }}</a></li> -->
            {% endfor %}
	    {% endfor %}
	 
	  </ul>
	</div>
	
      </nav>
</div>
