---
layout: default
---

<div class="home">
  {% if page.title %}
  <h1 class="page-heading">{{ page.title }}</h1>
  {% endif %}

  {{ content }}

  <div class="container-fluid">
    <div class="grid">
      <div class="grid-sizer"></div>
      
      {% if site.projects.size > 0 %}
      
      {% for project in site.projects %} 
      <div class="grid-item">
	<a class="card" href="{{ project.url | relative_url }}">
	  <div class="card-cover" style="background-image: url({{ project.cover }})"></div>
	  <div class="card-body">
	    <h6 class="card-title">{{ project.title }}</h6>
	    <p class="card-text">{{ project.excerpt | remove: '<p>' | remove: '</p>'}}...</p>
	    <p class="card-text">
	      <small class="text-muted">Le {{ project.release-date }}</small>
	    </p>
	  </div>
	</a>
      </div>
      {% endfor %}

      {% endif %}
      <!-- </div> -->
    </div>
  </div>
</div>
